$red: #ff0000;
$blue: #0000ff;
$green: #00ff00;
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$yellow: #ffff00;
$gray: #808080;
$light-blue: #71c3df;
$dark-gray: #242424;
$orange: #ffa500;
$purple: #800080;